.name {
    float: right;
    font-size: 20px;
    padding-right: 20px;
}

.health-bar-background {
    background-color: #b22222;
    height: 20px;
    margin-left: 20px;
    position: relative;
    text-align: center;
}

.health {
    background-color: #228b22;
    height: 20px;
    position: absolute;
    width: 100%;
}

.hit-points {
    color: white;
    position: relative;
    z-index: 10;
}

.character-top-header {
    overflow: auto;
}

.character-bottom-header {
    font-size: 20px;
    position: relative;
}

.separator {
    left: -8px;
    position: absolute;
}

.race {
    float: right;
    padding-right: 20px;
}

.class {
    float: left;
    padding-left: 20px;
}
