.chat-messages {
    font-size: 14px;
    overflow-y: auto;
    padding: 4px;
}

.chat-messages .sender {
    font-weight: bold;
}

.chat-messages .content {

}

.chat-box textarea {
    width: 100%;
    resize: none;
}





/*#chat-pane {*/
/*background: #FFFFFF;*/
/*border-top: 1px solid #999999;*/
/*bottom: 0;*/
/*left: 0;*/
/*overflow: hidden;*/
/*padding: 8px;*/
/*position: fixed;*/
/*width: 100%;*/
/*}*/
