#chat-pane {
    background: #FFFFFF;
    border-top: 1px solid #999999;
    bottom: 0;
    left: 0px;
    overflow: hidden;
    padding: 8px;
    position: fixed;
    width: 100%;
}

#chat-messages {
    font-size: 14px;
    max-height: 180px;
    overflow-y: scroll;
    padding: 4px;
}

#chat-messages {
    max-height: 20px;
}

#chat-messages .sender {
    font-weight: bold;
}

#chat-messages .content {

}

#chat-pane input[type=text] {
    width: 100%;
}