#chat-pane {
    position: fixed;
    bottom: 0;
    left: 0px;
    overflow: hidden;
    border-top: 1px solid black;
    width: 100%;
    background: #ffffff;
    padding: 8px;
}

#chat-messages {
    background: #EEEEEE;
    padding: 4px;

    font-size: 14px;
    overflow-y: scroll;
    max-height: 180px;
}

#chat-messages.closed {
    max-height: 20px;
}

#chat-messages .sender {
    font-weight: bold;
}

#chat-messages .content {

}

#chat-pane input[type=text] {
    width: 100%;
}