html, body {
    height: 100%;
    overflow-y: hidden;
    min-width: 600px;
    overflow-x: auto;
}

#dashboard-container {
    display: flex;
    height: 100%;
    /*padding: 8px;*/
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

#dashboard-main {
    height: 100%;
    min-width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 50%;
    flex-grow: 1;
}

#dashboard-left, #dashboard-right {
    display: flex;
    height: 100%;
    margin: 0;
    max-width: 350px;
    width: 25%;
    flex-flow: column nowrap;
}

#dashboard-left {
    border-right: 1px solid #DDDDDD;
}

#dashboard-right {
    border-left: 1px solid #DDDDDD;
}

@media (min-width: 1400px) {
    #dashboard-main {
        width: calc(100% - 700px);
    }
}

#no-main-content {
    color: #AAAAAA;
    font-size: 32px;
    padding: 80px;
    text-align: center;
    width: 100%;
}

#dashboard-main > div:not(.active) {
    display: none;
}

[data-main-content-id] {
    color: #666666;
    cursor: default;
    overflow: hidden;
    padding: 8px;
    flex-grow: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[data-main-content-id]:hover {
    background: #EEEEEE;
    color: #111111;
}

[data-main-content-id].active {
    background: #DDDDDD;
    color: #111111;
}