.character {
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
    float: left;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.character-important {
    padding-right: 15px;
}

.character-information {
    padding-left: 15px;
}