* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    /*font-family: "Andale Mono", AndaleMono, monospace;*/
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
}

main {
    overflow: hidden;
    margin: auto;
    padding: 0px;
    max-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, Georgia, serif;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    text-align: center;
}

h3 {
    margin: 0;
    padding: 0;
}

section {
    /*border: 1px solid black;*/
    padding: 15px;
    margin: 10px;
}

.flex-columns {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
}

.flex-columns > * {
    flex-grow: 1;
    border: 1px dotted blue;
}

.flex-rows {
    flex-flow: row wrap;
}

.flex-rows > * {
    flex-grow: 1;
}

.tab-button {
    cursor: pointer;
}

.half-container {
    width: 50%;
    float: left;
    position: relative;
}

.third-container {
    width: 33%;
    float: left;
    position: relative;
}

.two-third-container {
    width: 67%;
    float: left;
    position: relative;
}

.icon-wrapper {
    background: lightblue;
    overflow: auto;
    float: left;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid #4682b4;
    cursor: pointer;
}

.icon {
    background: url(../images/icons.png);
    width: 30px;
    height: 25px;
    margin: 5px;
}

.icon-message {
    background-position: -30px -26px;
}

.icon-dice {
    background-position: -185px -26px;
}

.icon-health {
    background-position: -391px -129px;
}


