* {
    box-sizing: border-box;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

html {
    overflow-y: scroll;
}

body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    max-width: 800px;
    overflow: hidden;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: Cambria, Georgia, serif;*/
    margin: 0;
}

h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
}

h3 {
    margin: 0;
    padding: 0;
}

hr {
    background: #AAAAAA;
    border: none;
    height: 2px;
}

section {
    /*border: 1px solid black;*/
    margin: 10px;
    padding: 15px;
}

.flex-columns {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
}

.flex-columns > * {
    border: 1px dotted blue;
    flex-grow: 1;
}

.flex-rows {
    flex-flow: row wrap;
}

.flex-rows > * {
    flex-grow: 1;
}

.half-container {
    float: left;
    position: relative;
    width: 50%;
}

.third-container {
    float: left;
    position: relative;
    width: 33%;
}

.two-third-container {
    float: left;
    position: relative;
    width: 67%;
}

@media (min-width: 600px) {
    .columns {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }
}

.icon-wrapper {
    background: lightblue;
    border: 2px solid #4682b4;
    border-radius: 8px;
    cursor: pointer;
    float: left;
    margin: 5px;
    overflow: auto;
}

.icon {
    background: url(../images/icons.png);
    height: 25px;
    margin: 5px;
    width: 30px;
}

.icon-message {
    background-position: -30px -26px;
}

.icon-dice {
    background-position: -185px -26px;
}

.icon-health {
    background-position: -391px -129px;
}

.chooser {
    color: #777777;
    display: flex;
    flex-flow: row nowrap;
}

.chooser:focus {
    color: #000000;
    outline: none;
}

.chooser .choices {
    display: flex;
    width: 200px;
    flex-flow: column wrap;
    flex-grow: 0;
    flex-shrink: 0;
}

.chooser .choices .choice {
    cursor: default;
    padding: 12px;
    flex-grow: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chooser .choices .choice:hover {
    background: #EEEEEE;
}

.chooser .choices .choice.chosen {
    background: #DDDDDD;
}

.chooser .choice-descriptions {
    border-left: 1px solid #DDDDDD;
    padding: 12px;
    flex-grow: 1;
}

.chooser .choice-descriptions .choice-description {
    display: none;
}

.chooser .choice-descriptions .choice-description.chosen {
    display: initial;
}

@media (max-width: 400px) {
    .chooser {
        flex-flow: column nowrap;
    }

    .chooser .choice-descriptions {
        border-left: none;
        border-top: 1px solid #DDDDDD;
    }
    .chooser .choices {
        width: 100%;
    }
}

.data-table {
    border-collapse: collapse;
    width: 100%;
}

.data-table tr {
    background: #EEEEEE;
}

.data-table tr:nth-of-type(even) {
    background: #DDDDDD;
}

.data-table td {
    padding: 3px 8px;
}