
#tab-bar {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.tab-button {
    cursor: pointer;
    font-size: 20px;
    background: #D3D3D3;
    display: table-cell;
    text-align: center;
    border: 1px solid #666666;
}

.tab-button + .tab-button {
    border-left: none;
}

.tab-button:hover {
    background: #dddddd;
}

.tab-button.disabled, .tab-button.disabled:hover {
    background: #dddddd;
    cursor: default;
    color: #666666;
}

.tab-button.open, .tab-button.open:hover {
    background: #ADD8E6;
}

.tab {
    display: none;
}

.tab.open {
    display: initial;
}

