.tab-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tab-button {
    background: #D3D3D3;
    border: 1px solid #666666;
    cursor: pointer;
    display: table-cell;
    font-size: 20px;
    text-align: center;
    flex-grow: 1;
}

.tab-button + .tab-button {
    border-left: none;
}

.tab-button:hover {
    background: #dddddd;
}

.tab-button.disabled, .tab-button.disabled:hover {
    background: #dddddd;
    color: #666666;
    cursor: default;
}

.tab-button.open, .tab-button.open:hover {
    background: #ADD8E6;
}

.tab {
    display: none;
}

.tab.open {
    display: initial;
}

