#view-character-header .name {
    font-size: 50px;
}

#view-character-header .character-bottom-header {
    font-size: 30px;
}

#view-character-header .health-bar-background {
    margin-top: 22px;
}

.data-table table {
    border-collapse: collapse;
    width: 100%;
}

.data-table tr:nth-last-of-type(odd) {
    background: #DDDDDD;
}

.data-table table td {
    padding-left: 15px;
    padding-right: 15px;
}