#backstory {
    border: 1px solid #AAAAAA;
}
#view-character-header .name {
    font-size: 50px;
}
#view-character-header .character-bottom-header {
    font-size: 30px;
}
#view-character-header .health-bar-background {
    margin-top: 22px;
}
.data-table {
    width: 50%;
    float: left;
}
.data-table table {
    margin: 15px;
}
.data-table table td {
    padding-left: 15px;
    padding-right: 15px;
}