#backstory {
    border: 1px solid #AAAAAA;
}
#view-character-header .name {
    font-size: 50px;
}
#view-character-header .character-bottom-header {
    font-size: 30px;
}
#view-character-header .health-bar-background {
    margin-top: 22px;
}
.data-table {
    width: 50%;
    float: left;
}
.data-table table {
    margin: 15px;
}
.data-table table td {
    padding-left: 15px;
    padding-right: 15px;
}
#stat-tab {
    overflow: auto;
}
.tab-button {
    cursor: pointer;
    font-size: 20px;
    background: lightgray;
    width: 25%;
    float: left;
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,1);
}
.tab-button.open {
    background: lightblue;
}
.tab {
    display: none;
}
.tab.open {
    display: initial;
}