#wizard-body {
    padding-bottom: 40px;
    position: relative;
    width: 100%;
}

#wizard-phase-list {
    display: flex;
    margin: 0;

    padding: 0;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
}

.wizard-phase-button {
    cursor: default;
    margin: 0;
    padding: 2px 8px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-grow: 1;
    flex-basis: 1;
}

#wizard-phase-list > div.current {
    background: #DDDDDD;
}

#wizard-content {
}

#wizard-previous-button, #wizard-next-button, #wizard-done-button {
    bottom: 0;
    color: #0000EE;
    cursor: pointer;
    position: absolute;
    text-decoration: underline;
}

#wizard-previous-button {
    left: 0;
}

#wizard-next-button, #wizard-done-button {
    right: 0;
}

.wizard-chooser {
    display: flex;
    flex-flow: row nowrap;
    color: #777777;
}

.wizard-chooser:focus {
    color: #000000;
    outline: none;
}

.wizard-chooser .choices {
    display: flex;
    width: 200px;
    flex-flow: column wrap;
    flex-grow: 0;

    flex-shrink: 0;
}

.wizard-chooser .choices .choice {
    cursor: default;
    padding: 12px;
    flex-grow: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    user-select: none;
}

.wizard-chooser .choices .choice:hover {
    background: #EEEEEE;
}

.wizard-chooser .choices .choice.chosen {
    background: #DDDDDD;
}

.wizard-chooser .choice-descriptions {
    border-left: 1px solid #DDDDDD;
    padding: 12px;
    flex-grow: 1;
}

.wizard-chooser .choice-descriptions .choice-description {
    display: none;
}

.wizard-chooser .choice-descriptions .choice-description.chosen {
    display: initial;
}

#wizard-body input[type=text] {
    background: #FAFAFA;
    border: 1px solid transparent;
    color: #333333;
    display: block;
    font-size: 32px;
    margin: auto;
    outline: none;
    padding: 4px;
    text-align: center;
    transition: border 0.1s;
    width: 100%;
}

#wizard-body input[type=text]:focus {
    border-bottom: 1px solid #DDDDDD;
    color: #111111;
}

#wizard-body [contenteditable=true] {
    background: #FAFAFA;
    border: 1px solid transparent;
    color: #333333;
    display: block;
    font-size: 16px;
    margin: auto;
    outline: none;
    padding: 8px;
    transition: border 0.1s;
    width: 100%;
    min-height: 100px;
    max-height: 400px;
    overflow: auto;
}

#wizard-body [contenteditable=true]:focus {
    border: 1px solid #DDDDDD;
    color: #111111;
}

@media (min-width: 600px) {
    .columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}