{% import 'macros.html' as macros %}

<div class="character" id="character-{{ character.id }}" data-character-id="{{ character.id }}">
    <h2>Stats</h2>
    <section class="stats">
        <div class="abilities">
            <h4>Abilities</h4>

            <div class="box">
                {{ macros.stats_table(character.abilities) }}
            </div>
        </div>
        <div class="skills">
            <h4>Skills</h4>

            <div class="box">
                {{ macros.stats_table(character.skills) }}
            </div>
        </div>
    </section>
    <h2>Character Details</h2>
    <section class="background">
        <div class="backstory" data-bind-text="character.backstory">
            {{ character.backstory }}
        </div>
        <div class="personality" data-bind-text="character.personality">
            {{ character.personality }}
        </div>
    </section>
    <h2>Inventory</h2>
    <section class="inventory">
        <div class="give-item" data-character-id="{{ character.id }}">
            <button>Give Item</button>
            <select>
                {% for item in list_items() %}
                    <option value="{{ item.id }}">{{ item }}</option>
                {% endfor %}
            </select>
            <input type="number" min="0" value="1">
        </div>
        <div class="item-box">
            {#-  Inventory will be populated by javascript  -#}
        </div>
    </section>
</div>