{% set classes = list_classes() %}

<h1>Class</h1>
<div class="chooser" data-bind-write="character.class">
    <div class="choices">
        {% for class in classes %}
            <div class="choice{{ ' chosen' if class == character.character_class }}" data-choice="{{ class.name }}">
                {{ class.name }}
            </div>
        {% endfor %}
    </div>
    <div class="choice-descriptions">
        {% for class in classes %}
            <div class="choice-description{{ ' chosen' if class == character.character_class }}"
                 data-choice="{{ class.name }}">
                This is a description of {{ class.name }}.
                This is a description of {{ class.name }}.
                This is a description of {{ class.name }}.
                This is a description of {{ class.name }}.
            </div>
        {% endfor %}
    </div>
</div>
