{% extends 'layout.html' %}

{% block main %}
    <div id="wizard-body">
        <div id="wizard-phase-list">
            {% for phase in phases %}
                <div class="wizard-phase-button" data-phase="{{ phase }}">{{ phase }}</div>
            {% endfor %}
        </div>

        <div id="wizard-content" {% if character.id %}data-character-id="{{ character.id }}"{% endif %}>
            {% for phase in phases %}
                <div class="wizard-phase" data-phase="{{ phase }}">
                    {% set template = 'wizard/' + phase + '.html' %} {% include template %}
                </div>
            {% endfor %}
        </div>
        <a id="wizard-previous-button">Previous</a>
        <a id="wizard-next-button">Next</a>
        <a id="wizard-done-button">Done</a>
    </div>
{% endblock main %}