
{% macro dice_roller() -%}
    <div class="dice-roller">
        <input type="text" name="count" value="1">
        x
        <select>
            <option value="100">d100</option>
            <option selected="selected" value="20">d20</option>
            <option value="12">d12</option>
            <option value="10">d10</option>
            <option value="8">d8</option>
            <option value="6">d6</option>
            <option value="4">d4</option>
        </select>
        <button type="button">Roll</button>
        <span>-</span>
    </div>
{%- endmacro %}


