{% extends 'layout.html' %}
{% import 'character.html' as characterMacros %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dm_dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character.css') }}">
{% endblock styles %}

{% macro characterView(character) %}
    <div id="character-{{ character.id }}" class="character">
        <div class="third-container">
            <div class="character-important">
                {{ characterMacros.characterHeader(character) }}
            </div>
        </div>
        <div class="two-third-container">
            <div class="character-information">
                <div class="icon-wrapper">
                    <div class="icon icon-message"></div>
                </div>
                <div class="icon-wrapper">
                    <div class="icon icon-dice"></div>
                </div>
                <div class="icon-wrapper">
                    <div class="icon icon-health"></div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block body %}
    DM
    {% for character in campaign.characters %}
        {{ characterView(character) }}
    {% endfor %}

    {% include 'dice_roller.html' %}

    {% include 'chat.html' %}

{% endblock body %}
