{% extends 'layout.html' %}
{% import 'character.html' as characterMacros %}

{% block body %}
    <a id="enable-edit">Enable Editing</a>
    <a id="disable-edit">Disable Editing</a>
    <br><br>
    <div id="view-character-header">
        {{ characterMacros.characterHeader(character) }}
    </div>
    <br>
    <hr>

    <div id="tab-bar">
        <div class="tab-button open" data-tab="stats">Stats</div>
        <div class="tab-button" data-tab="inventory">Inventory</div>
        <div class="tab-button" data-tab="spell">Spells</div>
        <div class="tab-button" data-tab="character">Character</div>
    </div>
    <div id="tab-content">
        <div id="stats-tab" class="tab open">
            {% include 'character/stats_tab.html' %}
        </div>

        <div id="inventory-tab" class="tab">
            {% include 'character/inventory_tab.html' %}
        </div>

        <div id="spell-tab" class="tab">
            {% include 'character/spells_tab.html' %}
        </div>

        <div id="character-tab" class="tab">
            {% include 'character/character_tab.html' %}
        </div>
    </div>

    {% include 'chat.html' %}
    {#    #}
    {#    <div id="character-footer">#}
    {#        <ul id="messages">#}
    {#            {% for message in character.messages %}#}
    {#                <li class="message">#}
    {#                    <span>{{ message.sender.name }}</span>:#}
    {#                    <span>{{ message.content }}</span>#}
    {#                </li>#}
    {#            {% endfor %}#}
    {#        </ul>#}
    {#    </div>#}
{% endblock body %}