{% extends 'layout.html' %}
{% block scripts %}
    <script>
        if (window.bundle === undefined) {
            window.bundle = {};
        }
        bundle['races'] = {{ races|tojson }};
        bundle['skills'] = {{ skills|tojson }};
        bundle['abilities'] = {{ abilities|tojson }};
        bundle['character_data'] = {{ character|tojson }};
        bundle['url_update'] = "{{ url_for('characters.update', name=character.name) }}";
        bundle['url_get_updates'] = "{{ url_for('characters.fetch_updates', name=character.name) }}";
    </script>
    <script src="{{ url_for('static', filename='js/character.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/updates.js') }}"></script>
    <script src="{{ url_for('static', filename='js/view_character.js') }}"></script>
{% endblock scripts %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_character.css') }}">
{% endblock styles %}

{% block body %}
    <a id="enable-edit">Enable Editing</a>
    <a id="disable-edit">Disable Editing</a>
    <br><br>
    <div id="character-header">
        <div class="character-top-header">
            <div class="half-container">
                <span id="name">{{ character.name }}</span>
            </div>
            <div class="half-container">
                <div id="health-bar-background">
                    <div id="health"></div>
                    <span id="hit-points">
                        <span id="current-hit-points">{{ character.hitpoints }}</span> /
                        <span id="max-hit-points">{{ character.max_hitpoints }}</span>
                    </span>
                </div>
            </div>
        </div>
        <br>
        <span id="race">{{ character.race.name }}</span> -
        <span id="class">{{ character.character_class.name }}</span>
    </div>

    <table>
        {% for ability_score in character.ability_scores %}
            <tr>
                <td>{{ ability_score.ability.name }}</td>
                <td>{{ ability_score.score }}</td>
            </tr>
        {% endfor %}
    </table>

    <table>
        {% for skill_level in character.skill_levels %}
            <tr title="{{ skill_level.skill.description }}">
                <td>{{ skill_level.skill.name }}</td>
                <td>{{ skill_level.level }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Backstory</h3>
    <div id="backstory">{{ character.backstory }}</div>
    <h3>Personality</h3>
    <div id="personality">{{ character.personality }}</div>

    <ul id="messages">
        {% for message in character.messages %}
            <li class="message">
                <span>{{ message.sender.name }}</span>:
                <span>{{ message.content }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock body %}