.character {
}

.character h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    font-family: Cambria, Georgia, serif;
    font-variant: small-caps;
}

.character h2 {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
    font-family: Cambria, Georgia, serif;
    font-variant: small-caps;
}

.character h2.closed:not(:last-of-type) {
    margin-bottom: -1px;
}

.character h3 {

}

.character h4 {
    text-align: center;
}

.character section {
    margin: 0;
    padding: 12px;
}

.character .stats, .character .background {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 12px;
}

.character .skills, .character .abilities {
    padding: 12px;
    flex-grow: 1;
}

@media (min-width: 1000px) {
    .character .skills .box {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }

    .character .skills .box {
        column-gap: 4px;
        -moz-column-gap: 4px;
        -webkit-column-gap: 4px;
        flex-grow: 1;
    }
}

@media (min-width: 1200px) {
    .character .skills .box {
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
    }
}

.character .personality, .character .backstory {
    padding: 12px;
}

.character .inventory .item-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.character .inventory .item-box .item {
    width: 100px;
    background: #EEEEEE;
    margin: 12px;
    padding: 4px;
    flex-grow: 1;
}