.chat-box {
    display: flex;
    flex-grow: 1;
    flex-basis: 1px;
    min-height: 100px;
    flex-flow: column nowrap;
    overflow: hidden;
    justify-content: space-between;
}

.chat-box h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.chat-box .recipient-list {
    display: flex;
    font-size: 12px;
    flex-flow: row wrap;
    justify-content: space-around;
}

.chat-box .recipient-list .recipient {
    margin: 0;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-grow: 1;
    text-align: center;
    padding: 1px 4px;
}

.chat-box .recipient-list .recipient.active {
    background: #EEEEEE;
}

.chat-box .recipient-list .recipient:hover {
    background: #EEEEEE;
}

.chat-box .chat-messages {
    height: 100%;
    flex-grow: 1;
    background: #EEEEEE;
    font-size: 13px;
}

.chat-box textarea {
    border: 1px solid #AAAAAA;
    margin: 0;
    overflow: hidden;
}