html, body {
    height: 100%;
    overflow-y: hidden;
}

#dm-container {
    display: flex;
    height: 100%;
    /*padding: 8px;*/
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

#dm-main {
    height: 100%;
    min-width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
}

#left-bar, #right-bar {
    display: flex;
    height: 100%;
    margin: 0;
    max-width: 300px;
    width: 100%;
    flex-flow: column nowrap;
}

#right-bar {
    padding: 8px;
    justify-content: space-between;
    background: #DDDDDD;
}