@media (max-width: 600px) {

}

@media (min-width: 600px) {
    html, body {
        height: 100%;
        overflow-y: hidden;
    }

    #dm-container {
        display: flex;
        height: 100%;
        /*padding: 8px;*/
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: stretch;
    }

    #dm-main {
        height: 100%;
        min-width: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 50%;
        flex-grow: 1;
    }

    #left-bar, #right-bar {
        display: flex;
        height: 100%;
        margin: 0;
        max-width: 300px;
        width: 25%;
        flex-flow: column nowrap;
    }

    #left-bar {
        border-right: 1px solid #DDDDDD;
    }

    #right-bar {
        border-left: 1px solid #DDDDDD;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    #dm-main {
        width: calc(100% - 600px);
    }
}

#no-main-content {
    color: #AAAAAA;
    font-size: 32px;
    font-style: italic;
    padding: 80px;
    text-align: center;
    width: 100%;
}

#dm-main > div:not(.active) {
    display: none;
}

[data-main-content-id] {
    color: #666666;
    cursor: default;
    overflow: hidden;
    padding: 8px;
    flex-grow: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[data-main-content-id]:hover {
    background: #EEEEEE;
    color: #111111;
}

[data-main-content-id].active {
    background: #DDDDDD;
    color: #111111;
}