#party {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 100%;
}

#party .party-member {
    background: #DDDDDD;
    cursor: default;
    height: 1px;
    overflow: hidden;
    padding: 8px;
    flex-grow: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #666666;
}

#party .party-member:hover {
    /*background: #E7E7E7;*/
    /*border-bottom: 1px solid #AAAAAA;*/
    /*border-top: 1px solid #AAAAAA;*/
    color: #000000;
}

#party .party-member.active {
    background: #EEEEEE;
    color: #000000;
}

#party .party-member .actions {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

