#party {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    border-bottom: 1px solid #DDDDDD;
}

#party .party-member {
    cursor: default;
    overflow: hidden;
    padding: 8px;
    flex-grow: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #666666;
}

#party .party-member:hover {
    background: #EEEEEE;
    color: #000000;
}

#party .party-member.active {
    background: #DDDDDD;
    color: #000000;
}

#party .party-member h3 {
    display: inline;
}

#party .party-member .hitpoint-box {
    float: right;
}

#party .party-member .actions {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

