#party {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    border-bottom: 1px solid #DDDDDD;
}

#party .party-member {
    overflow: hidden;
    flex-grow: 1;
}

#party .party-member h3 {
    display: inline;
    font-variant: small-caps;
    font-weight: normal;
}

#party .party-member .hitpoint-box {
    float: right;
}

#party .party-member .actions {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

