#tool-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#tool-list li {
    text-align: right;
    padding: 8px;
}

#tool-list li:hover {
    background: #EEEEEE;
}

#tool-list li.active {
    background: #DDDDDD;
}